<div >
  <!--The content below is only a placeholder and can be replaced.-->
  <h1>
    1. Swipe 이벤트 리스너 추가: {{ diretion }}
  </h1>
  <img   swipe 
  (swipeLeft)="onSwipeLeft($event)"
  (swipeRight)="onSwipeRight($event)"
  (swipeUp)="onSwipeUp($event)" 
  (swipeDown)="onSwipeDown($event)" 
  
  
  width="300" 
   alt="Angular Logo" 
   src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>



 
<div >
  <h1 keyup-arrow 
  (keyUpArrowDown)="onkeyUpArrowDown($event)"
  (keyUpArrowRight)="onkeyUpArrowRight($event)"
  (keyUpArrowLeft)="onkeyUpArrowLeft($event)"
  (keyUpArrowUp)="onkeyUpArrowUp($event)" 
  >
  2. 키보드 방향키 이벤트 리스너 추가: {{keyboradDiretion}}
 </h1>

</div>

<div>
  <h1>3. DOM 엘리멘트 속성 값 제어</h1>
  <input type="text" 
  placeholder-messege 
  [placeholderMsgText]="['REQUIRE','10자리 이상']"
  >
</div>